* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: "Roboto","Arial",sans-serif;
}

p {
    margin: 0;
}

#content {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

.qualityInput {
    display: flex;
    flex-direction: row;
}

input {
    padding: 10px;
    flex: 1;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    width: 0;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

#bottomRow {
    overflow: auto;
    margin-top: 10px;
}

button.navButton, button.addButton {
    background-color: skyblue;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

button.addButton {
    flex: 0;
    min-width: 100px;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.qualityList, .qualitySuggestions {
    width: 100%;
    padding: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.qualityListItem {
    flex: 0;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 0 2.5px 0 2.5px;
}

button.qualitySelection {
    background-color: transparent;
}

button.qualitySelection:hover {
    background-color: lightskyblue;
    color: white;
    border: 0;
}

button.qualityActive {
    background-color: lightskyblue;
    color: white;
    border: 0;
}

button.qualityActive:hover {
    background-color: lightcoral;
}

p#lowTraitsWarning {
    display: none;
    color: #c54e4e;
    font-weight: bold;
}

table#priorities td.buttons button {
    background-color: transparent;
    padding: 2px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
}

table#priorities td.priorityDataColumn {
    padding: 10px;
}
table#priorities td.priorityDataColumn i {
    font-weight: 100;
    color: #bbbbbb;
}

button.xCell {
    font-size: 25px;
    font-weight: 900;
    color: #5e5e5e;
    vertical-align: middle;
    text-align: center;

    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: none;
}

.boldText {
    font-weight: bold;
}

#quizFooter {
    font-size: 12px;
    font-style: italic;
}