* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: "Roboto","Arial",sans-serif;
}

#content {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

#bottomRow {
    overflow: auto;
    margin-top: 10px;
}

button.navButton {
    background-color: skyblue;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.qualityList {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.qualityListItem {
    flex: 0;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 5px;
}

button.qualitySelection {
    background-color: transparent;
}

button.qualitySelection:hover {
    background-color: lightskyblue;
    color: white;
    border-width: 0;
}

button.qualityActive {
    background-color: lightskyblue;
    color: white;
    border: 0;
}

button.qualityActive:hover {
    background-color: lightcoral;
}

table#priorityTable {
    width: 100%;
    padding: 0;
}

table#priorityTable tr {
    margin: 0;
    padding: 0;
}

table#priorityTable tr#listRow td {
    border: 1px solid gray;
}

table#priorityTable tr#listRow td i {
    font-weight: lighter;
    color: gray;
}

table#priorityTable td {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 2px;
}

.boldText {
    font-weight: bold;
}

#quizFooter {
    font-size: 12px;
    font-style: italic;
}